.btn {
	@include transition(all 400ms $easeInOutQuad);
	display: inline-block;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: #FFF;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background:url(../img/pattern-bg-buttons.png) top left repeat $btn-bg;
	border:none;
	&:hover,
	&:focus {
		background-color: $btn-hover-bg;
		@include box-shadow(25px 0 25px -25px rgba(0, 0, 0, 0.45) inset, -25px 0 25px -25px rgba(0, 0, 0, 0.45) inset);
	}
	&:active {
		outline: none;
		background-color: darken($btn-hover-bg,5%);
		@include box-shadow(0 0 0 0 rgba(0,0,0,0) inset);
	}
}
.btn-small {
	font-size: 20px;
	font-weight: 400;
	padding: 10px 10px;
}
.btn-big {
	font-size: 34px;
	padding: 10px 20px; 
}

.btn-rounded {
	border-radius: $base-border-radius;
}
@include max-screen($mobile) {
	.btn-block-mobile {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

/*==================================================
 * Effect Bottom Shadow
 * ===============================================*/
.bottom-shadow
{
  position: relative;
}
.bottom-shadow:before, .bottom-shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 17px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #333;
  -moz-box-shadow: 0 15px 10px #333;
  box-shadow: 0 15px 10px #333;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.bottom-shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 17px;
  left: auto;
}
.action-button {
	display: block;
	text-align: center;
	padding: 30px 0 0;
	border-top: 1px solid #eee;
}