footer {
	background-color: $footer-bg;
	h1 {
		color: #fff;
		span:first-child {
			color: $blue-medium;
		}
	}
	.col-xs-12:nth-child(1) {
		@include min-screen($mobile + 1) {
			border-right: 1px solid #eee;
		}
	} 
	.btn-big {
		font-size: 16px;
		padding-top: 28px;
		padding-bottom: 28px;
		background-color: $blue-medium;
		@include max-screen($mobile) {
			margin-top: 30px;
		}
	}
}
.copy {
	padding-top: $footer-copy-padding;
	padding-bottom: $footer-copy-padding;
	background-color: $footer-copy-bg;
	small {
		font-size: $footer-copy-size;
		color: $footer-copy-color;
		font-family: $footer-copy-font;
		line-height: 62px;
	}
}

.beagleship-animated {
	@include transform(translate3d(0,0,0));
	@include transition(width 400ms $easeInOutQuad);
	float: right;
	width: 28px;
	overflow: hidden;
	padding: 15px 0px;
	height: 60px;
	@include hoverFocus{
		width: 119px;
	}
	@include max-screen($medium) {
		width: 119px;
		float: none;
		display: inline-block;
		margin: auto 0
	}
}