.news {
	margin-bottom: 15px;
	@include min-screen($medium+1) {
		border-left: 1px solid transparent;
		+ .news {
			border-left-color: #ddd;
		}
	}
	.news-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	&:hover {
		.news-link-img {
			img {
				opacity: 1;
				@include min-screen($large) {
					@include transform(scale(1));
				}
			}
		}
	}
	.news-link-img {
		display: block;
		overflow: hidden;
		img {
			
			display: block;
			margin: 0 auto;
			@include transition(all 350ms $easeInOutQuad);
			@include min-screen($medium+1){ 
				opacity: 0.9;
			}
			@include min-screen($large){
				@include transform(scale(1.1));
			}
		}
	}	
	.news-link-title {
		margin-top: 5px;
		margin-bottom: 0px;
		font-weight: 600;
		font-size: 20px;
		a {
			display: block;
			color: #000;
			@include hoverFocus{
				color: $secondary-color;
			}
		}
	}
	time {
		display: block;
		margin: 0;
		color: $thirdy-color;
		font-size: 12px;
	}
	.news-desc {
		margin-top: 0.5em;
		margin-bottom: 1em;
		font-size: 16px;
		color: #444;
	}
}