.section-content {
	padding-top: 40px;
	padding-bottom: 40px;
	h2 {
		text-align: center;
		margin: 0;
		&:after {
			width: 50px;
			height: 1px;
			background: $blue-dark;
			content: " ";
			display: block;
			margin:  20px auto 60px;
		}
	}
	.img-responsive {
		width: 100%;
	}
	.btn {
		font-size: 20px;
		padding: 20px 4px;
		width: 100%;
		@include max-screen($mobile) {
			font-size: 16px;
		}
	}
}

.title-bordered-bottom {
		text-align: center;
		margin: 0;
		&:after {
			width: 50px;
			height: 1px;
			background: $blue-dark;
			content: " ";
			display: block;
			margin:  20px auto 60px;
		}
	}