.home-header {
	position: relative;
	height: 500px;
	padding-top: 0;
	@include max-screen($mobile) {
		height: 300px;
		&.interna {
			height:180px;
			
		}
	}
}
.slideshow-bg {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	height: inherit;
	.slideshow-slide {
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		height: 734px;
		top: -100px;
		bottom: 0;
		right: 0px;
		left: 0;	
		opacity: 0;
		&:first-child {
			opacity: 1;
		}
	}
}

@for $i from 1 through 6 {
	.slideshow-#{$i} {
		background-image: url(../img/slides/banner#{$i}.jpg);
	}

}

.header-title {
  $padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(57, 77, 109, .6);
  padding-top: $padding;
  padding-bottom: $padding;
  @include max-screen($medium) {
  	$padding: 15px;
  	padding-top: $padding;
  	padding-bottom: $padding;

  	h1 {
  		display: block;
  		font-size: 30px;
  		width: 100%;
  	}
  	.btn {
  		margin-top: 15px;
  		margin-bottom: 15px;
  		font-size: 22px;
  	}
  }
  &.interna {
    h1 {
      color: #fff;
      text-shadow: -1px 1px 0px $blue-dark;

      .text-light {
        color: #0098ea;
      }
    }
  }
}


.bg-title {
	position: relative;
	background-size: cover;
	background-position: center;
	top: 0;
	height: 100%;
	left: 0;
}
$backgrounds:consultoria fale-conosco implantacoes introducao logistica noticias numeros pesquisa-mercado producao produtos suas-perguntas ;
@each $bg in $backgrounds {
	.bg-#{$bg} {
		background-image: url(../img/bg-title/#{$bg}.jpg);
	}
}