.top-transparent-bar {
	background-color: rgba(255, 255, 255, .7);
	position: absolute;
	width: 100%;
	z-index: 99999;
	top: 0;
	@include max-screen($medium) {
		background-color: #fff;
		height: 56px;
		position: relative;
		.logo-img {
			height: 50px;
			position: relative;
			left: -15px;
		}
	} 
}
.idiomas {
	position: absolute;
	top: 50%;
	height: 24px;
	right: 0;
	margin-top: 3px;
	@include transform(translateY(-50%));
	a {
		display: inline-block;
		width: 24px;
		height: 24px;
		background-image: url(../img/sprite-idiomas.png);
		&.brasil {
			background-position: -58px -3px;
		}
		&.uk {
			background-position: -29px -3px;
		}
		&.franca {
			background-position: 0 -3px;
		}
	}
}
.logo-img {
	margin-top: 3px;
	margin-bottom: 3px;
	height: 62px;
}

/* 
   Mobile Menu
   ========================================================================== */

@include max-screen($medium) {

	#mobile-open-menu {
		display: block;
		top: 50%;
		position: absolute;
		right: 10px;
		@include transform(translateY(-50%));
		width: 40px;
		height: 33px;
		.mobile-open-menu-bar {
			@include transition(all 0.3s ease-in-out);
		    background-color: $blue-dark;
		    display: block;
		    height: 5px;
		    margin: 5px 0;
		}
		&.active {
			.mobile-open-menu-bar {
				background-color: desaturate(darken($blue-medium,20%),30%);
			}
		}

	}
	.mobile-open-menu-bar {
	    background: none repeat scroll 0 0 $blue-dark;
	    display: block;
	    height: 5px;
	    margin: 5px 0;
	    transition: all 0.3s ease-in-out 0s;
	}
	.mobile-nav {
		top: 56px;
		position: absolute;
		width: 100%;
		left: 0;
	}
	#nav {
		width: 100%;
		margin: 0 0 5px;
	    max-height: 0;
	    overflow: hidden;
	    padding: 0;
	    text-align: center;
	    &.active {
	    	max-height: 500px;
	    }
	    & > li:last-child > .nav-li-a {
	    	border-bottom: 1px solid  lighten($blue-dark,20%);
	    }
	    a:hover, 
    	a:active,
    	a:focus {
    		color: $blue-medium;
    	}
    	.nav-submenu a:hover, 
    	.nav-submenu a:active,
    	.nav-submenu a:focus {
    		color: $blue-dark;
    	}
	}
	
	
	.nav-li-a, .nav-submenu-li-a {
		background-color: #1B2647;
		border-top: 1px solid  lighten($blue-dark,20%);
		color: #fff;
		display: block;
		font-weight: 600;
		padding: 10px 0;
		text-transform:uppercase;
	}

	
	#nav,
    .nav-submenu {
		@include transition(all, 0.8s $easeInOutQuad);
        
    }

    .nav-li.active > .nav-submenu {
    	max-height: 220px;
    }

    .nav-submenu {
    	overflow: hidden;
    	position: relative;
    	display: block;
    	max-height: 0;
    	background-color: $blue-medium;
    }

    .nav-submenu-li-a {
    	background-color: desaturate(darken($blue-medium,20%),30%);
    	color: #fff;
    }
}


/* ==========================================================================
   Principal Nav
   ========================================================================== */

@include keyframes(fadeFromNone) {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	1% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
@include keyframes(fadeFromVisible) {
	100% {
		visibility: hidden;
		opacity: 0;
	}
	99% {
		visibility: visible;
		opacity: 0;
	}
	0% {
		visibility: visible;
		opacity: 1;
	}
}
.nav-principal {
	background: url(../img/pattern-bg-buttons.png) top left repeat $blue-dark;
	margin-bottom: 42px;
	.container > ul {
		display: table;
		li {
			display: table-cell;
			width: 1%;
			text-align: center;
			&.is-active,
			&:hover {
				.sub-menu {
						@include animation(fadeFromNone 0.3s $easeInQuad);
						@include animation-fill-mode(forwards);
					}
			}
			&.is-active {
				.sub-menu .is-active{
					background-color: rgba(50,50,50,0.2);
					@include box-shadow(25px 0 25px -25px rgba(0, 0, 0, 0.45) inset, -25px 0 25px -25px rgba(0, 0, 0, 0.45) inset);
				}
				.sub-menu a {
					@include hoverFocus {
						background-color: rgba(0, 114, 184, 0.5);
					}
				}
			}
			a {
				padding: 24px 22px;				
				font-weight: 600;
				color: #fff;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				text-transform: uppercase;
				&:hover,
				&:focus {
					background-color: rgba(0, 114, 184, 0.5);

					@include box-shadow(25px 0 25px -25px rgba(0, 0, 0, 0.45) inset, -25px 0 25px -25px rgba(0, 0, 0, 0.45) inset);

				
				}
				
			}
			
			.sub-menu{
				@include animation(fadeFromVisible 0.3s $easeInQuad);
				@include animation-fill-mode(forwards);
				visibility: hidden;
				background: url(../img/pattern-bg-buttons.png) top left repeat darken($blue-med-dark,5%);
				width: 100%;
				left: 0;
				position: absolute;
				ul {
					position: relative;
					a {
						padding: 10px 15px;
						font-weight: 400;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

