{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}
{% load noticia_extras %}

{% block  title %}
    {% trans 'Notícias' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-noticias"></div>
        <div class="header-title interna text-center-xs">
          <h1 class="container"><span class="text-light">{% trans 'CENTRAL DE' %}</span><br>{% trans 'NOTÍCIAS' %}</h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class="section-padding">
        <div class="container">
            <div class="row">
                <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{% trans 'ÚLTIMAS NOTÍCIAS' %}</h2>
            </div>

            <!-- NOTICIAS -->
            {% if last_item %}
                <!--DESTAQUE-->
                <div class="row">
                    <div class="col-xs-12 news-destaque">
                        {% if last_item.imagem or last_item.imagem_categoria %}
                            {% if last_item.imagem %}
                                {% thumbnail last_item.imagem "640x320" crop="center"  as im %}
                                    <img class="news-image" src="{{ im.url }}" alt="{{last_item.titulo}}">
                                {% endthumbnail %}
                            {%else%}
                                {% thumbnail last_item.imagem_categoria "640x320" crop="center"  as im %}
                                    <img class="news-image" src="{{ im.url }}" alt="{{last_item.titulo}}">
                                {% endthumbnail %}
                            {%endif%}
                        {%endif%}
                        <p class="news-link-title">
                            <a href="{% url 'noticia:post' last_item.slug %}">{{last_item.titulo}}</a>
                        </p>
                        <time class="news-time" datetime="2014-01-01">{{last_item.data_publicacao}}</time>
                        <p>{{ last_item.texto|safe|striptags|truncatechars:320 }}</p>
                        <a href="{% url 'noticia:post' last_item.slug %}" class="btn btn-small btn-rounded btn-block-mobile">{% trans 'Leia Mais' %}</a>
                    </div>
                </div>
            {% endif %}

            <!-- NOTICIAS -->
            {% block main %}

            {% endblock main %}
        </div>
    </main>
{% endblock container %}
<!-- Fim -->

{% block js %}
    <script type="text/javascript" src="{% static 'js/paginator.js' %}"></script>
{% endblock js %}



