{% extends 'noticia/base.html' %}
{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}
{% load noticia_extras %}

{% block main %}
<div class="list-all-news">
    <div class="row animate-context">
        <section>
            <div class="list-news">
                {% for item in items %}
                    <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 news hidding">
                        <!--Post's Start -->
                            <div class="news-wrapper">
                                <!--IMAGEM-->
                                <a class="news-link-img" href="{% url 'noticia:post' item.slug %}">
                                    {% if item.imagem or item.imagem_categoria %}
                                        {% if item.imagem %}
                                            {% thumbnail item.imagem "345x241" crop="center" as im %}
                                                <img class="img-responsive" src="{{ im.url }}" alt="{{item.titulo}}">
                                            {% endthumbnail %}
                                        {%else%}
                                            {% thumbnail item.imagem_categoria "345x241" crop="center"  as im %}
                                                <img class="img-responsive" src="{{ im.url }}" alt="{{item.titulo}}">
                                            {% endthumbnail %}
                                        {%endif%}
                                    {%endif%}
                                </a>
                                <!--TITULO-->
                                <p class="news-link-title">
                                    <a href="{% url 'noticia:post' item.slug %}">{{ item.titulo }}</a>
                                </p>
                                <!--DATA NOTICIA-->
                                <time datetime="{{ item.data_publicacao|date:'Y-m-d' }}">{{ item.data_publicacao }}</time>
                                <!--PREV.TEXTO-->
                                <p class="news-desc">{{ item.texto|safe|striptags|truncatechars:261 }}</p>
                            </div>
                        <!--Post's End -->
                        </div>
                {% endfor %}
                </div>
                </section>
                </div>

</div>
    {% if is_paginated %}
        <div class="action-button hidding animate container">
            <div class="col-xs-12">
                    <a href="?page={{ page_obj.first_page }}" rel="{% url 'noticia:posts' %}" data-page='1' data-numpages="{{ page_obj.paginator.num_pages }}" title="{% trans 'Ver mais' %}" class="vermais btn btn-small btn-rounded btn-block-mobile" data-texto="{% trans 'Ver mais' %}">
                        <span class="anime2">{% trans 'Ver mais' %}</span>
                    </a>
            </div>
        </div>
    {% endif %}


{% endblock main %}

{% block extrajs %}
    <script src="{% static 'js/paginator.js' %}"></script>
{% endblock extrajs %}