{% load staticfiles %}

{% load noticia_extras %}
{% load i18n %}
{% load i18n %}
{% load thumbnail %}
<div class="row animate-context">
    <section>
        <div class="list-news">
             {% for item in items %}
                <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 news hidding">
                    <!--Post's Start -->
                        <div class="news-wrapper">
                            <!--IMAGEM-->
                            <a class="news-link-img" href="{% url 'noticia:post' item.slug %}">
                                {% if item.imagem or item.imagem_categoria %}
                                    {% if item.imagem %}
                                        {% thumbnail item.imagem "345x241" crop="center" as im %}
                                            <img class="img-responsive" src="{{ im.url }}" alt="{{item.titulo}}">
                                        {% endthumbnail %}
                                    {%else%}
                                        {% thumbnail item.imagem_categoria "345x241" crop="center"  as im %}
                                            <img class="img-responsive" src="{{ im.url }}" alt="{{item.titulo}}">
                                        {% endthumbnail %}
                                    {%endif%}
                                {%endif%}
                            </a>
                            <!--TITULO-->
                            <p class="news-link-title">
                                <a href="{% url 'noticia:post' item.slug %}">{{ item.titulo }}</a>
                            </p>
                            <!--DATA NOTICIA-->
                            <time datetime="2014-01-01">{{ item.data_publicacao }}</time>
                            <!--PREV.TEXTO-->
                            <p class="news-desc">{{ item.texto|safe|striptags|truncatechars:261 }}</p>
                        </div>
                    <!--Post's End -->
                    </div>
            {% endfor %}
        </div>
    </section>
</div>
