{% extends 'noticia/base.html' %}
{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}
{% load noticia_extras %}

{% block matatags_extras %}
	<meta property="og:locale" content="pt_BR">

	<meta property="og:url" content="http://{{request.META.HTTP_HOST}}{% url 'noticia:post' item.slug %}">

	<meta property="og:title" content="{{item.titulo}}">
	<meta property="og:site_name" content="Equalize LTD">

	<meta property="og:description" content="{{ item.texto|safe|striptags }}">

	{% if item.imagem %}
	    {% thumbnail item.imagem "640x150" as im %}
	       <meta property="og:image" content="{{request.META.HTTP_HOST}}{{ im.url }}">
	    {% endthumbnail %}
	{%else%}
		{% thumbnail item.imagem_categoria "640x150" as im %}
	     <meta property="og:image" content="{{request.META.HTTP_HOST}}{{ im.url }}">
	    {% endthumbnail %}
	{%endif%}

	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="770">
	<meta property="og:image:height" content="400">
	<meta property="og:type" content="website">

{% endblock matatags_extras %}

{% block title %} {{ item.titulo }} {%endblock%}

{% block container %}
    <main class="section-padding">
        <div class="container">
            <div class="row">
                <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{{item.titulo}}</h2>
            </div>

            <div class="row"></div>

            <div class="row">
                <div class="col-xs-12 news-destaque">
                    <time class="news-time" datetime="2014-01-01">{{item.data_publicacao}}</time>
                    <div class="news-desc">
                        <p>{{ item.texto|safe|escape }}</p>
                    </div>
                </div>
            </div>

            <div class="action-button hiddin animate container">
                <div class="col-xs-12">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-small btn-rounded btn-block-mobile">{% trans 'VOLTAR' %}</a>
                </div>
            </div>
        </div>
    </main>
{% endblock container %}