{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}

{% block  title %}
   {% trans 'Obter Cotação' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-cotacao"></div>
        <div class="header-title interna text-center-xs">
            <h1 class="container"><span class="text-light">{% trans 'Obter cotação' %}</span></h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class="bg-cotacao section-padding" style="margin-top: -42px;">
        <div class="container">

            {% if email_enviado == '1' %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="title-bordered-bottom hidding animate">{% trans 'Cotação enviada' %}</h2>
                    </div>
                </div>
            {% else %}

                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="title-bordered-bottom hidding animate">{% trans 'OBTER COTAÇÃO' %}</h2>
                        <img src="{% static 'img/cotacao/1.jpg' %}" alt="{% trans 'Cotação Online' %}" class="img-responsive img-hero hidding animate" data-animation="transition.slideUpIn">
                        <p class="hidding animate" data-animation="transition.slideUpIn">{% trans 'Crie sua primeira experiência conosco e solicite um orçamento gratuito online. Não esqueça de mencionar o nome da sua empresa, um endereço de e-mail válido, o preço desejado e as quantidades requeridas. Sua requisição será respondida dentro de 24 horas durante nosso horário comercial.' %}</p>
                    </div>
                </div>

                <div class="row hidding animate" data-animation="transition.slideUpIn">
                    <form class="pure-form pure-form-stacked" method="post" action="{% url 'cotacao' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <div class="col-xs-12 col-sm-6">
                                <label for="{{ form.empresa.id_for_label }}">{{ form.empresa.label }}</label>
                                {{ form.empresa }}
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <label for="{{ form.contato.id_for_label }}">{{ form.contato.label }}</label>
                                {{ form.contato }}
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <label for="{{ form.departamento.id_for_label }}">{{ form.departamento.label }}</label>
                                {{ form.departamento }}
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.mensagem.id_for_label }}">{{ form.mensagem.label }}</label>
                                {{ form.mensagem }}
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.arquivo.id_for_label }}">{{ form.arquivo.label }}</label>
                                <div class="custom-upload">
                                    {{ form.arquivo }}
                                    <div class="fake-file">
                                        <!--<input class="col-xs-12" type="text" readonly>-->
                                        {{ form.fake_file }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-big">
                                    {% trans 'Enviar' %}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock container %}