{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}

{% block  title %}
   {% trans 'Contato' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-fale-conosco"></div>
        <div class="header-title interna text-center-xs">
            <h1 class="container"><span class="text-light">{% trans 'Contato' %}</span><br>{% trans 'Fale Conosco' %}</h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class="section-padding text-center-xs text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{% trans 'FALE CONOSCO' %}</h2>
                    <p class="hidding animate" data-animation="transition.slideUpIn">{% trans 'Tire suas dúvidas entrando em contato conosco através do preenchimento do formulário abaixo, ou então através de um dos nossos telefones e teremos o maior prazer em atendê-lo.' %}</p>
                </div>
            </div>

            <div class="row section-padding">
                <div class="col-xs-12 col-md-8 hidding animate" data-animation="transition.slideLeftIn">
                    <form class="pure-form pure-form-stacked" method="post" action="{% url 'contato' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <div class="col-xs-12">
                                <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                                {{ form.nome }}
                            </div>
                            <div class="col-xs-12">
                                <label for="{{ form.sobrenome.id_for_label }}">{{ form.sobrenome.label }}</label>
                                {{ form.sobrenome }}
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.departamento.id_for_label }}">{{ form.departamento.label }}</label>
                                {{ form.departamento }}
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.arquivo.id_for_label }}">{{ form.arquivo.label }}</label>
                                <div class="custom-upload">
                                    {{ form.arquivo }}
                                    <div class="fake-file">
                                        {{form.fake_file}}
                                        <!--<input class="col-xs-12" type="text" readonly>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <label for="{{ form.mensagem.id_for_label }}">{{ form.mensagem.label }}</label>
                                {{ form.mensagem }}
                            </div>

                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-big">{% trans 'ENVIAR' %}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-xs-12 col-md-4 address">
                    <div class="row">
                        <div class="col-xs-12 hidding animate">
                            <div class="bottom-shadow">
                                <img src="{% static 'img/fale-conosco/hong-kong.jpg' %}" class="img-responsive" alt="Hong Kong">
                            </div>
                            <address>
                                <b>HONG KONG - {% trans 'Sede' %}</b>
                                <br> 1010, Miramar Tower
                                <br> 132 Nathan Road, Tsim Sha Tsui
                                <br> Kowloon, Hong Kong
                            </address>
                        </div>
                        <div class="col-xs-12 hidding animate">
                            <div class="bottom-shadow">
                                <img src="{% static 'img/fale-conosco/guangzhou.jpg' %}" class="img-responsive" alt="Guangzhou">
                            </div>
                            <address>
                                <b>GUANGZHOU - {% trans 'Escritório Central' %}</b>
                                <br> 111, Taikang Road, R. 2301
                                <br> Guangzhou, Guangdong, China
                                <br> T: +86 20 8322-0070
                                <br> F: +86 20 8322-1005
                            </address>
                        </div>
                        <div class="col-xs-12 hidding animate" data-animation="transition.slideDownIn">
                            <div class="bottom-shadow">
                                <img src="{% static 'img/fale-conosco/south-america.jpg' %}" class="img-responsive" alt="South America">
                            </div>
                            <address>
                                <b>Praia de Belas, Prime Offices</b>
                                <br> Borges de Medeiros, 2500
                                <br> Porto Alegre-RS
                                <br> T: +55 51 3131-1700
                                <br> F: +55 51 3131-1700
                            </address>
                        </div>
                        <div class="col-xs-12 hidding animate" data-animation="transition.slideDownIn">
                            <div class="bottom-shadow">
                                <img src="{% static 'img/fale-conosco/europe.jpg' %}" class="img-responsive" alt="Europe">
                            </div>
                            <address>
                                <b>EUROPE</b>
                                <br> 16, Rue Genette Neveu
                                <br> Paris, France, 75018
                                <br> T: +33 183877443
                                <br> F: +33 183877443
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock container%}
