.address {
	address {
		font-style:normal;
		font-size: 20px;
		font-weight: 100;
		margin-bottom: 20px;
		margin-top: 10px;
		b {
			color: $blue-med-dark;
			font-weight: 600;
		}

	}
	.bottom-shadow {
			max-width: 345px;
			@include min-screen($large+1) {
				max-width: 390px;
			}
			margin: 0 auto;
		}
}

.pure-form {
	.btn {
		margin: 30px 0;
		padding-left: 50px;
		font-size: 28px;
		padding-right: 50px;
	}
}

