.carosel-header {
	$padding: 30px;
	.swiper-container {
		padding-bottom: $padding;
	}
	.swiper-slide {
		h1 {
			float: left;
			color: #fff;
			text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
			padding-top: 14px;
		}
	}
	.swiper-container-horizontal {
		.swiper-pagination {
			bottom: 10px;
		}	
	}
	.swiper-pagination-bullet {
		@include size($header-bullet-size);
		opacity: 1;
		border: 1px solid $header-bullet-border-color;
		background-color: $header-bullet-bg-color;
		&.swiper-pagination-bullet-active {
			@include size($header-bullet-size+2);
			position: relative;
			top: 1px;
			background-color: $header-bullet-bg-color-active;
		}
	}
}
/* 
   COTAÇÃO EM TEMPO REAL
   ========================================================================== */


.currency-title {
	font-weight: 600;
	font-size: 13.93px;
}

.currency-exchange {
	text-align: center;
	p {
		margin: 0;
		font-size: 18px;
		text-align: center;
	}
}

.currency-tittle-abrev {
	font-weight: 600;
	font-size: 15px;
}