.news-destaque {

		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 30px;
	.news-link-title {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 600;
		a {
			color: $blue-dark;
			@include hoverFocus{
				color: $blue-medium;
			}
		}
		
	}
	.news-image {
		float: left;
		margin-right: 30px;
		max-width: 50%;
		min-width: 50%;
		@include max-screen($mobile) {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}
	}
	.news-time {
		font-size: 12px;
		color: #999;
		margin-bottom: -15px;
		display: block;
	}
}