.select-bg {
	background: url(../img/select-language/bg-select-language.jpg) center no-repeat;
	background-size: cover;
}
.select-bg-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	$to: #1B181F;
	$from: #262958;
	@include linear-gradient($to, $from);
	opacity: 0.8;
}
.select-wrapper {
	position: relative;
	width: 100%;
	height: 100%;

	.select-logo {
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 90%;
		max-width: 490px;
		@include max-screen($mobile) {
			margin-top: 0;
			top: 25%;
		}
	}
	.select-nav {
		position: absolute;
		bottom: percentage(128 / 1080);
		right: percentage(184 / 1920);
		@include max-screen($mobile) {
			bottom: 15px;
			left: 0;
			width: 100%;
		}
		a {
			font-weight: 600;
			font-size: 14px;
			color: #fff;
			display: block;
			margin-top: 17px;
			padding-right: 8px;
			border-right: 2px solid transparent;
			line-height: 0.8;
			&:hover,
			&:focus {
				color: #009FF9;
				border-right: 2px solid #FFF;
			}
			@include max-screen($mobile) {
				border-bottom: 2px solid transparent;
				border-right: 0px;
				padding-right: 0;
				padding-bottom: 10px;
				width: 100%;
				text-align: center;
				&:hover,
				&:focus {
					border-right: 0px;
					border-bottom: 2px solid #FFF;
				}
			}
		}
	}
}
