{% load i18n %}
{% load i18n %}

 {% for x in items %}
   <li><span class="fa fa-arrow-circle-right"></span> <a href="{% url 'noticia:arquivo' x.year %}" title="{{x.year }}">{{x.year }}</a></li>
{%endfor%}           
            