{% load i18n %}
{% load i18n %}
{% for x in items %}
    {% if x.dcount > 0 %}
        <li><i class="fa fa-arrow-circle-right"></i> <a href="{% url 'noticia:categoria' x.categorias__slug %}" title="{{x.categorias__nome}}" class="anime3">{{x.categorias__nome}}</a></li>
       
    {%endif%} 
{%endfor%}           
            