{% load i18n %}
{% load i18n %}
 {% for x in items %}
     <li><span class="fa fa-angle-right"></span> <a href="{% url 'noticia:post' x.slug %}" title="{{x.titulo}}"> {{x.titulo}} <time>{{x.data_publicacao|date:"d F Y"}}</time></a></li> {%endfor%}
            