{% load i18n %}
{% load i18n %}

    {% for x in items %}
        {% if x.dcount > 0 %}
        <li><a href="{% url 'noticia:tag' x.tags__slug %}" title="{{x.tags__nome}}">{{x.tags__nome}}</a> </li>       
        {%endif%} 
    {%endfor%}
           
            