@charset "UTF-8";
/*  Font Families ========================================================================== */
/*  Base  ========================================================================== */
/*  Media Queries ========================================================================== */
/*  Colors ========================================================================== */
/*  Buttons ========================================================================== */
/*  Header Slideshow ========================================================================== */
/*  Font-sizes ========================================================================== */
/*  Footer ========================================================================== */
/*  Forms ========================================================================== */
@font-face { font-family: "Klavika"; font-style: normal; font-weight: 100; src: url("fonts/klavika_ch_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/klavika_ch_light-webfont.woff2") format("woff2"), url("fonts/klavika_ch_light-webfont.woff") format("woff"), url("fonts/klavika_ch_light-webfont.ttf") format("truetype"), url("fonts/klavika_ch_light-webfont.svg#Klavika") format("svg"); }

@font-face { font-family: "Klavika"; font-style: normal; font-weight: 400; src: url("fonts/klavika_ch_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/klavika_ch_regular-webfont.woff2") format("woff2"), url("fonts/klavika_ch_regular-webfont.woff") format("woff"), url("fonts/klavika_ch_regular-webfont.ttf") format("truetype"), url("fonts/klavika_ch_regular-webfont.svg#Klavika") format("svg"); }

@font-face { font-family: "Klavika"; font-style: normal; font-weight: 600; src: url("fonts/klavika_ch_medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/klavika_ch_medium-webfont.woff2") format("woff2"), url("fonts/klavika_ch_medium-webfont.woff") format("woff"), url("fonts/klavika_ch_medium-webfont.ttf") format("truetype"), url("fonts/klavika_ch_medium-webfont.svg#Klavika") format("svg"); }

@font-face { font-family: "Klavika"; font-style: normal; font-weight: 700; src: url("fonts/klavika_ch_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/klavika_ch_bold-webfont.woff2") format("woff2"), url("fonts/klavika_ch_bold-webfont.woff") format("woff"), url("fonts/klavika_ch_bold-webfont.ttf") format("truetype"), url("fonts/klavika_ch_bold-webfont.svg#Klavika") format("svg"); }

@font-face { font-family: "Gotham"; font-style: normal; font-weight: 400; src: url("fonts/gotham-medium.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-medium.woff2") format("woff2"), url("fonts/gotham-medium.woff") format("woff"), url("fonts/gotham-medium.ttf") format("truetype"), url("fonts/gotham-medium.svg#Gotham") format("svg"); }

h1 { font-size: 38px; line-height: 1em; text-transform: uppercase; font-weight: 700; margin: 0; }

h2 { font-size: 30px; line-height: 1; text-transform: uppercase; font-weight: 400; }

.text-light { font-weight: 100; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width. 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, button { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

html, body { width: 100%; height: 100%; margin: 0; padding: 0; }

body { position: relative; min-height: 100%; line-height: 1.42857; font-size: 16px; font-family: "Klavika", arial, sans-serif; }

a { transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94); text-decoration: none; }

a:focus, a:hover { text-decoration: none; }

ul { list-style-type: none; padding: 0; margin: 0; }

p { font-size: 18px; text-align: justify; }

.bg-pattern { background: url(../img/pattern-news.png) top left repeat; }

.bg-cotacao { background-color: #bad5ea; background-image: -webkit-linear-gradient(top, #bad5ea 0%, #1f6daf 31%, #0b437e 68%, #091f44 100%); background-image: linear-gradient(to bottom,#bad5ea 0%, #1f6daf 31%, #0b437e 68%, #091f44 100%, , , , , , ); }

.bg-cotacao p { color: #fff; }

.bg-cotacao .pure-form label { color: #fff; }

.section-padding { padding-top: 50px; padding-bottom: 50px; }

@media screen and (max-width: 768px) { .section-padding { padding-top: 25px; padding-bottom: 25px; } }

@media screen and (min-width: 1200px) { .section-padding p { text-align: justify; } }

.section-margin { margin-top: 60px; }

@media screen and (min-width: 992px) { .hidding { opacity: 0; } }

.animate-context::after { clear: both; content: ""; display: table; }

.img-hero { min-width: 100%; margin-bottom: 30px; }

.content-text img { width: 100% !important; display: block; height: auto !important; }

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

figure { margin: 0; }

img { vertical-align: middle; }

.img-responsive { display: block; max-width: 100%; height: auto; }

.img-responsive.full { min-width: 100%; }

.img-rounded { border-radius: 6px; }

.img-thumbnail { padding: 4px; line-height: 1.42857143; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; max-width: 100%; height: auto; }

.img-circle { border-radius: 50%; }

hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }

[role="button"] { cursor: pointer; }

.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

@media (min-width: 768px) { .container { width: 750px; } }

@media (min-width: 992px) { .container { width: 970px; } }

@media (min-width: 1200px) { .container { width: 1170px; } }

.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

.row { margin-left: -15px; margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-12 { width: 100%; }

.col-xs-11 { width: 91.66666667%; }

.col-xs-10 { width: 83.33333333%; }

.col-xs-9 { width: 75%; }

.col-xs-8 { width: 66.66666667%; }

.col-xs-7 { width: 58.33333333%; }

.col-xs-6 { width: 50%; }

.col-xs-5 { width: 41.66666667%; }

.col-xs-4 { width: 33.33333333%; }

.col-xs-3 { width: 25%; }

.col-xs-2 { width: 16.66666667%; }

.col-xs-1 { width: 8.33333333%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-pull-11 { right: 91.66666667%; }

.col-xs-pull-10 { right: 83.33333333%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-8 { right: 66.66666667%; }

.col-xs-pull-7 { right: 58.33333333%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-5 { right: 41.66666667%; }

.col-xs-pull-4 { right: 33.33333333%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-2 { right: 16.66666667%; }

.col-xs-pull-1 { right: 8.33333333%; }

.col-xs-pull-0 { right: auto; }

.col-xs-push-12 { left: 100%; }

.col-xs-push-11 { left: 91.66666667%; }

.col-xs-push-10 { left: 83.33333333%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-8 { left: 66.66666667%; }

.col-xs-push-7 { left: 58.33333333%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-5 { left: 41.66666667%; }

.col-xs-push-4 { left: 33.33333333%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-2 { left: 16.66666667%; }

.col-xs-push-1 { left: 8.33333333%; }

.col-xs-push-0 { left: auto; }

.col-xs-offset-12 { margin-left: 100%; }

.col-xs-offset-11 { margin-left: 91.66666667%; }

.col-xs-offset-10 { margin-left: 83.33333333%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-8 { margin-left: 66.66666667%; }

.col-xs-offset-7 { margin-left: 58.33333333%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-5 { margin-left: 41.66666667%; }

.col-xs-offset-4 { margin-left: 33.33333333%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-2 { margin-left: 16.66666667%; }

.col-xs-offset-1 { margin-left: 8.33333333%; }

.col-xs-offset-0 { margin-left: 0%; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.66666667%; }
  .col-sm-pull-10 { right: 83.33333333%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.66666667%; }
  .col-sm-pull-7 { right: 58.33333333%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.66666667%; }
  .col-sm-pull-4 { right: 33.33333333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.66666667%; }
  .col-sm-pull-1 { right: 8.33333333%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.66666667%; }
  .col-sm-push-10 { left: 83.33333333%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.66666667%; }
  .col-sm-push-7 { left: 58.33333333%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.66666667%; }
  .col-sm-push-4 { left: 33.33333333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.66666667%; }
  .col-sm-push-1 { left: 8.33333333%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.66666667%; }
  .col-sm-offset-7 { margin-left: 58.33333333%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.66666667%; }
  .col-sm-offset-4 { margin-left: 33.33333333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.66666667%; }
  .col-sm-offset-1 { margin-left: 8.33333333%; }
  .col-sm-offset-0 { margin-left: 0%; } }

@media (min-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-0 { margin-left: 0%; } }

@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-1 { width: 8.33333333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66666667%; }
  .col-lg-pull-10 { right: 83.33333333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66666667%; }
  .col-lg-pull-7 { right: 58.33333333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66666667%; }
  .col-lg-pull-4 { right: 33.33333333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.66666667%; }
  .col-lg-pull-1 { right: 8.33333333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66666667%; }
  .col-lg-push-10 { left: 83.33333333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66666667%; }
  .col-lg-push-7 { left: 58.33333333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66666667%; }
  .col-lg-push-4 { left: 33.33333333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.66666667%; }
  .col-lg-push-1 { left: 8.33333333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66666667%; }
  .col-lg-offset-7 { margin-left: 58.33333333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66666667%; }
  .col-lg-offset-4 { margin-left: 33.33333333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.66666667%; }
  .col-lg-offset-1 { margin-left: 8.33333333%; }
  .col-lg-offset-0 { margin-left: 0%; } }

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .panel-body:before, .panel-body:after { content: " "; display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after, .panel-body:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; }

.affix { position: fixed; }

@-ms-viewport { width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }

@media (max-width: 767px) { .visible-xs { display: block !important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row !important; }
  th.visible-xs, td.visible-xs { display: table-cell !important; } }

@media (max-width: 767px) { .visible-xs-block { display: block !important; } }

@media (max-width: 767px) { .visible-xs-inline { display: inline !important; } }

@media (max-width: 767px) { .visible-xs-inline-block { display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm { display: block !important; }
  table.visible-sm { display: table; }
  tr.visible-sm { display: table-row !important; }
  th.visible-sm, td.visible-sm { display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm-block { display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline { display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline-block { display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md-block { display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline { display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline-block { display: inline-block !important; } }

@media (min-width: 1200px) { .visible-lg { display: block !important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row !important; }
  th.visible-lg, td.visible-lg { display: table-cell !important; } }

@media (min-width: 1200px) { .visible-lg-block { display: block !important; } }

@media (min-width: 1200px) { .visible-lg-inline { display: inline !important; } }

@media (min-width: 1200px) { .visible-lg-inline-block { display: inline-block !important; } }

@media (max-width: 767px) { .hidden-xs { display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) { .hidden-sm { display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .hidden-md { display: none !important; } }

@media (min-width: 1200px) { .hidden-lg { display: none !important; } }

.visible-print { display: none !important; }

@media print { .visible-print { display: block !important; }
  table.visible-print { display: table; }
  tr.visible-print { display: table-row !important; }
  th.visible-print, td.visible-print { display: table-cell !important; } }

.visible-print-block { display: none !important; }

@media print { .visible-print-block { display: block !important; } }

.visible-print-inline { display: none !important; }

@media print { .visible-print-inline { display: inline !important; } }

.visible-print-inline-block { display: none !important; }

@media print { .visible-print-inline-block { display: inline-block !important; } }

@media print { .hidden-print { display: none !important; } }

.pos-r { position: relative; }

@media screen and (max-width: 768px) { .text-center-xs { text-align: center; } }

@media screen and (min-width: 769px) and (max-width: 992px) { .text-center-sm { text-align: center; } }

@media screen and (min-width: 993px) and (max-width: 1200px) { .text-center-md { text-align: center; } }

.top-transparent-bar { background-color: rgba(255, 255, 255, 0.7); position: absolute; width: 100%; z-index: 99999; top: 0; }

@media screen and (max-width: 992px) { .top-transparent-bar { background-color: #fff; height: 56px; position: relative; }
  .top-transparent-bar .logo-img { height: 50px; position: relative; left: -15px; } }

.idiomas { position: absolute; top: 50%; height: 24px; right: 0; margin-top: 3px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.idiomas a { display: inline-block; width: 24px; height: 24px; background-image: url(../img/sprite-idiomas.png); }

.idiomas a.brasil { background-position: -58px -3px; }

.idiomas a.uk { background-position: -29px -3px; }

.idiomas a.franca { background-position: 0 -3px; }

.logo-img { margin-top: 3px; margin-bottom: 3px; height: 62px; }

/*  Mobile Menu ========================================================================== */
@media screen and (max-width: 992px) { #mobile-open-menu { display: block; top: 50%; position: absolute; right: 10px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 40px; height: 33px; }
  #mobile-open-menu .mobile-open-menu-bar { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; background-color: #1C2644; display: block; height: 5px; margin: 5px 0; }
  #mobile-open-menu.active .mobile-open-menu-bar { background-color: #227ec3; }
  .mobile-open-menu-bar { background: none repeat scroll 0 0 #1C2644; display: block; height: 5px; margin: 5px 0; transition: all 0.3s ease-in-out 0s; }
  .mobile-nav { top: 56px; position: absolute; width: 100%; left: 0; }
  #nav { width: 100%; margin: 0 0 5px; max-height: 0; overflow: hidden; padding: 0; text-align: center; }
  #nav.active { max-height: 500px; }
  #nav > li:last-child > .nav-li-a { border-bottom: 1px solid #3a4e8c; }
  #nav a:hover, #nav a:active, #nav a:focus { color: #4cb2ff; }
  #nav .nav-submenu a:hover, #nav .nav-submenu a:active, #nav .nav-submenu a:focus { color: #1C2644; }
  .nav-li-a, .nav-submenu-li-a { background-color: #1B2647; border-top: 1px solid #3a4e8c; color: #fff; display: block; font-weight: 600; padding: 10px 0; text-transform: uppercase; }
  #nav, .nav-submenu { -webkit-transition: all, 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955); -moz-transition: all, 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all, 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .nav-li.active > .nav-submenu { max-height: 220px; }
  .nav-submenu { overflow: hidden; position: relative; display: block; max-height: 0; background-color: #4cb2ff; }
  .nav-submenu-li-a { background-color: #227ec3; color: #fff; } }

/* ========================================================================== Principal Nav ========================================================================== */
@-webkit-keyframes fadeFromNone { 0% { visibility: hidden;
    opacity: 0; }
  1% { visibility: visible;
    opacity: 0; }
  100% { visibility: visible;
    opacity: 1; } }

@-moz-keyframes fadeFromNone { 0% { visibility: hidden;
    opacity: 0; }
  1% { visibility: visible;
    opacity: 0; }
  100% { visibility: visible;
    opacity: 1; } }

@keyframes fadeFromNone { 0% { visibility: hidden;
    opacity: 0; }
  1% { visibility: visible;
    opacity: 0; }
  100% { visibility: visible;
    opacity: 1; } }

@-webkit-keyframes fadeFromVisible { 100% { visibility: hidden;
    opacity: 0; }
  99% { visibility: visible;
    opacity: 0; }
  0% { visibility: visible;
    opacity: 1; } }

@-moz-keyframes fadeFromVisible { 100% { visibility: hidden;
    opacity: 0; }
  99% { visibility: visible;
    opacity: 0; }
  0% { visibility: visible;
    opacity: 1; } }

@keyframes fadeFromVisible { 100% { visibility: hidden;
    opacity: 0; }
  99% { visibility: visible;
    opacity: 0; }
  0% { visibility: visible;
    opacity: 1; } }

.nav-principal { background: url(../img/pattern-bg-buttons.png) top left repeat #1C2644; margin-bottom: 42px; }

.nav-principal .container > ul { display: table; }

.nav-principal .container > ul li { display: table-cell; width: 1%; text-align: center; }

.nav-principal .container > ul li.is-active .sub-menu, .nav-principal .container > ul li:hover .sub-menu { -webkit-animation: fadeFromNone 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); -moz-animation: fadeFromNone 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); animation: fadeFromNone 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.nav-principal .container > ul li.is-active .sub-menu .is-active { background-color: rgba(50, 50, 50, 0.2); }

.nav-principal .container > ul li.is-active .sub-menu a:hover, .nav-principal .container > ul li.is-active .sub-menu a:focus { background-color: rgba(0, 114, 184, 0.5); }

.nav-principal .container > ul li a { padding: 24px 22px; font-weight: 600; color: #fff; display: inline-block; width: 100%; vertical-align: middle; text-transform: uppercase; }

.nav-principal .container > ul li a:hover, .nav-principal .container > ul li a:focus { background-color: rgba(0, 114, 184, 0.5); }

.nav-principal .container > ul li .sub-menu { -webkit-animation: fadeFromVisible 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); -moz-animation: fadeFromVisible 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); animation: fadeFromVisible 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards; visibility: hidden; background: url(../img/pattern-bg-buttons.png) top left repeat #00629f; width: 100%; left: 0; position: absolute; }

.nav-principal .container > ul li .sub-menu ul { position: relative; }

.nav-principal .container > ul li .sub-menu ul a { padding: 10px 15px; font-weight: 400; text-transform: uppercase; }

.home-header { position: relative; height: 500px; padding-top: 0; }

@media screen and (max-width: 768px) { .home-header { height: 300px; }
  .home-header.interna { height: 180px; } }

.slideshow-bg { position: relative; top: 0; left: 0; overflow: hidden; height: inherit; }

.slideshow-bg .slideshow-slide { background-position: center; background-repeat: no-repeat; position: absolute; height: 734px; top: -100px; bottom: 0; right: 0px; left: 0; opacity: 0; }

.slideshow-bg .slideshow-slide:first-child { opacity: 1; }

.slideshow-1 { background-image: url(../img/slides/banner1.jpg); }

.slideshow-2 { background-image: url(../img/slides/banner2.jpg); }

.slideshow-3 { background-image: url(../img/slides/banner3.jpg); }

.slideshow-4 { background-image: url(../img/slides/banner4.jpg); }

.slideshow-5 { background-image: url(../img/slides/banner5.jpg); }

.slideshow-6 { background-image: url(../img/slides/banner6.jpg); }

.header-title { width: 100%; position: absolute; bottom: 0; background-color: rgba(57, 77, 109, 0.6); padding-top: 30px; padding-bottom: 30px; }

@media screen and (max-width: 992px) { .header-title { padding-top: 15px; padding-bottom: 15px; }
  .header-title h1 { display: block; font-size: 30px; width: 100%; }
  .header-title .btn { margin-top: 15px; margin-bottom: 15px; font-size: 22px; } }

.header-title.interna h1 { color: #fff; text-shadow: -1px 1px 0px #1C2644; }

.header-title.interna h1 .text-light { color: #0098ea; }

.bg-title { position: relative; background-size: cover; background-position: center; top: 0; height: 100%; left: 0; }

.bg-consultoria { background-image: url(../img/bg-title/consultoria.jpg); }

.bg-fale-conosco { background-image: url(../img/bg-title/fale-conosco.jpg); }

.bg-implantacoes { background-image: url(../img/bg-title/implantacoes.jpg); }

.bg-introducao { background-image: url(../img/bg-title/introducao.jpg); }

.bg-logistica { background-image: url(../img/bg-title/logistica.jpg); }

.bg-noticias { background-image: url(../img/bg-title/noticias.jpg); }

.bg-numeros { background-image: url(../img/bg-title/numeros.jpg); }

.bg-pesquisa-mercado { background-image: url(../img/bg-title/pesquisa-mercado.jpg); }

.bg-producao { background-image: url(../img/bg-title/producao.jpg); }

.bg-produtos { background-image: url(../img/bg-title/produtos.jpg); }

.bg-suas-perguntas { background-image: url(../img/bg-title/suas-perguntas.jpg); }

.btn { -webkit-transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); -moz-transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); display: inline-block; font-weight: 600; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; color: #FFF; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: url(../img/pattern-bg-buttons.png) top left repeat #1C2644; border: none; }

.btn:hover, .btn:focus { background-color: #0072b8; }

.btn:active { outline: none; background-color: #00629f; }

.btn-small { font-size: 20px; font-weight: 400; padding: 10px 10px; }

.btn-big { font-size: 34px; padding: 10px 20px; }

.btn-rounded { border-radius: 4px; }

@media screen and (max-width: 768px) { .btn-block-mobile { width: 100%; margin-top: 15px; margin-bottom: 15px; } }

/*================================================== Effect Bottom Shadow ===============================================*/
.bottom-shadow { position: relative; }

.bottom-shadow:before, .bottom-shadow:after { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 17px; width: 50%; top: 80%; max-width: 300px; background: #777; -webkit-box-shadow: 0 15px 10px #333; -moz-box-shadow: 0 15px 10px #333; box-shadow: 0 15px 10px #333; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); }

.bottom-shadow:after { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 17px; left: auto; }

.action-button { display: block; text-align: center; padding: 30px 0 0; border-top: 1px solid #eee; }

.section-content { padding-top: 40px; padding-bottom: 40px; }

.section-content h2 { text-align: center; margin: 0; }

.section-content h2:after { width: 50px; height: 1px; background: #1C2644; content: " "; display: block; margin: 20px auto 60px; }

.section-content .img-responsive { width: 100%; }

.section-content .btn { font-size: 20px; padding: 20px 4px; width: 100%; }

@media screen and (max-width: 768px) { .section-content .btn { font-size: 16px; } }

.title-bordered-bottom { text-align: center; margin: 0; }

.title-bordered-bottom:after { width: 50px; height: 1px; background: #1C2644; content: " "; display: block; margin: 20px auto 60px; }

.news { margin-bottom: 15px; }

@media screen and (min-width: 993px) { .news { border-left: 1px solid transparent; }
  .news + .news { border-left-color: #ddd; } }

.news .news-wrapper { padding-left: 15px; padding-right: 15px; }

.news:hover .news-link-img img { opacity: 1; }

@media screen and (min-width: 1200px) { .news:hover .news-link-img img { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }

.news .news-link-img { display: block; overflow: hidden; }

.news .news-link-img img { display: block; margin: 0 auto; -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955); -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@media screen and (min-width: 993px) { .news .news-link-img img { opacity: 0.9; } }

@media screen and (min-width: 1200px) { .news .news-link-img img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); } }

.news .news-link-title { margin-top: 5px; margin-bottom: 0px; font-weight: 600; font-size: 20px; }

.news .news-link-title a { display: block; color: #000; }

.news .news-link-title a:hover, .news .news-link-title a:focus { color: #4cb2ff; }

.news time { display: block; margin: 0; color: #0072b8; font-size: 12px; }

.news .news-desc { margin-top: 0.5em; margin-bottom: 1em; font-size: 16px; color: #444; }

footer { background-color: #394d6d; }

footer h1 { color: #fff; }

footer h1 span:first-child { color: #4cb2ff; }

@media screen and (min-width: 769px) { footer .col-xs-12:nth-child(1) { border-right: 1px solid #eee; } }

footer .btn-big { font-size: 16px; padding-top: 28px; padding-bottom: 28px; background-color: #4cb2ff; }

@media screen and (max-width: 768px) { footer .btn-big { margin-top: 30px; } }

.copy { padding-top: 5px; padding-bottom: 5px; background-color: #222222; }

.copy small { font-size: 11px; color: #ccc; font-family: "Gotham", arial, sans-serif; line-height: 62px; }

.beagleship-animated { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: width 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); -moz-transition: width 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: width 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); float: right; width: 28px; overflow: hidden; padding: 15px 0px; height: 60px; }

.beagleship-animated:hover, .beagleship-animated:focus { width: 119px; }

@media screen and (max-width: 992px) { .beagleship-animated { width: 119px; float: none; display: inline-block; margin: auto 0; } }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea { padding: 0.7em 0.7em; display: inline-block; border: 1px solid #ccc; box-shadow: inset 0 1px 3px #ddd; border-radius: 0px; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #f4f4f4; }

.pure-form input:not([type]) { padding: 0.7em 0.7em; display: inline-block; border: 1px solid #ccc; box-shadow: inset 0 1px 3px #ddd; border-radius: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #f4f4f4; }

.pure-form input[type=color] { padding: 0.2em 0.5em; }

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus { outline: 0; border-color: #129FEA; }

.pure-form input:not([type]):focus { outline: 0; border-color: #129FEA; }

.pure-form input[type=file]:focus, .pure-form input[type=radio]:focus, .pure-form input[type=checkbox]:focus { outline: thin solid #129FEA; outline: 1px auto #129FEA; }

.pure-form .pure-checkbox, .pure-form .pure-radio { margin: .5em 0; display: block; }

.pure-form input[type=text][disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form select[disabled], .pure-form textarea[disabled] { cursor: not-allowed; background-color: #eaeded; color: #cad2d3; }

.pure-form input:not([type])[disabled] { cursor: not-allowed; background-color: #eaeded; color: #cad2d3; }

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] { background-color: #eee; color: #777; border-color: #ccc; }

.pure-form input:focus:invalid, .pure-form textarea:focus:invalid, .pure-form select:focus:invalid { color: #b94a48; border-color: #e9322d; }

.pure-form input.is-invalid, .pure-form textarea.is-invalid, .pure-form select.is-invalid { border-color: #e9322d; }

.pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus, .pure-form input[type=checkbox]:focus:invalid:focus { outline-color: #e9322d; }

.pure-form select { border: 1px solid #ccc; background-color: #fff; }

.pure-form select[multiple] { height: auto; }

.pure-form label { margin: 0.5em 0 0.2em; }

.pure-form fieldset { margin: 0; padding: 0.35em 0 0.75em; border: 0; }

.pure-form legend { display: block; width: 100%; padding: .3em 0; margin-bottom: .3em; color: #333; border-bottom: 1px solid #e5e5e5; }

.pure-form-stacked input[type=text], .pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=url], .pure-form-stacked input[type=date], .pure-form-stacked input[type=month], .pure-form-stacked input[type=time], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=week], .pure-form-stacked input[type=number], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=color], .pure-form-stacked input[type=file], .pure-form-stacked select, .pure-form-stacked label, .pure-form-stacked textarea { display: block; margin: .25em 0; }

.pure-form-stacked input:not([type]) { display: block; margin: .25em 0; }

.pure-form-aligned input, .pure-form-aligned textarea, .pure-form-aligned select, .pure-form-aligned .pure-help-inline, .pure-form-message-inline { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.pure-form-aligned textarea { vertical-align: top; }

.pure-form-aligned .pure-control-group { margin-bottom: .5em; }

.pure-form-aligned .pure-control-group label { text-align: right; display: inline-block; vertical-align: middle; width: 10em; margin: 0 1em 0 0; }

.pure-form-aligned .pure-controls { margin: 1.5em 0 0 11em; }

.pure-form input.pure-input-rounded, .pure-form .pure-input-rounded { border-radius: 2em; padding: 0.5em 1em; }

.pure-form .pure-group fieldset { margin-bottom: 10px; }

.pure-form .pure-group input, .pure-form .pure-group textarea { display: block; padding: 10px; margin: 0 0 -1px; border-radius: 0; position: relative; top: -1px; }

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus { z-index: 3; }

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child { top: 1px; border-radius: 4px 4px 0 0; margin: 0; }

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child { top: 1px; border-radius: 4px; margin: 0; }

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child { top: -2px; border-radius: 0 0 4px 4px; margin: 0; }

.pure-form .pure-group button { margin: .35em 0; }

.pure-form .pure-input-1 { width: 100%; }

.pure-form .pure-input-2-3 { width: 66%; }

.pure-form .pure-input-1-2 { width: 50%; }

.pure-form .pure-input-1-3 { width: 33%; }

.pure-form .pure-input-1-4 { width: 25%; }

.pure-form .pure-help-inline, .pure-form-message-inline { display: inline-block; padding-left: .3em; color: #666; vertical-align: middle; font-size: .875em; }

.pure-form-message { display: block; color: #666; font-size: .875em; }

@media only screen and (max-width: 480px) { .pure-form button[type=submit] { margin: .7em 0 0; }
  .pure-form input:not([type]), .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form label { margin-bottom: .3em; display: block; }
  .pure-group input:not([type]), .pure-group input[type=text], .pure-group input[type=password], .pure-group input[type=email], .pure-group input[type=url], .pure-group input[type=date], .pure-group input[type=month], .pure-group input[type=time], .pure-group input[type=datetime], .pure-group input[type=datetime-local], .pure-group input[type=week], .pure-group input[type=number], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=color] { margin-bottom: 0; }
  .pure-form-aligned .pure-control-group label { margin-bottom: .3em; text-align: left; display: block; width: 100%; }
  .pure-form-aligned .pure-controls { margin: 1.5em 0 0; }
  .pure-form .pure-help-inline, .pure-form-message-inline, .pure-form-message { display: block; font-size: .75em; padding: 0.2em 0 0.8em; } }

.pure-form label { font-weight: 600; font-size: 18px; margin: 1em 0 0.2em; }

.pure-form select { background-color: #f4f4f4; }

.pure-form textarea { min-width: 100%; min-height: 150px; max-width: 100%; resize: vertical; }

.custom-upload { position: relative; height: 56px; }

.custom-upload input[type=file] { outline: none; position: relative; text-align: right; opacity: 0; z-index: 2; width: 100%; cursor: pointer; height: 100%; }

.custom-upload .fake-file { position: absolute; top: 0; left: 0; width: 100%; z-index: 1; }

.custom-upload .fake-file input { color: #000; }

.select-bg { background: url(../img/select-language/bg-select-language.jpg) center no-repeat; background-size: cover; }

.select-bg-gradient { position: absolute; width: 100%; height: 100%; background-color: #1B181F; background-image: -webkit-linear-gradient(#1B181F, #262958); background-image: linear-gradient(#1B181F, #262958, , , , , , , , ); opacity: 0.8; }

.select-wrapper { position: relative; width: 100%; height: 100%; }

.select-wrapper .select-logo { opacity: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 90%; max-width: 490px; }

@media screen and (max-width: 768px) { .select-wrapper .select-logo { margin-top: 0; top: 25%; } }

.select-wrapper .select-nav { position: absolute; bottom: 11.85185%; right: 9.58333%; }

@media screen and (max-width: 768px) { .select-wrapper .select-nav { bottom: 15px; left: 0; width: 100%; } }

.select-wrapper .select-nav a { font-weight: 600; font-size: 14px; color: #fff; display: block; margin-top: 17px; padding-right: 8px; border-right: 2px solid transparent; line-height: 0.8; }

.select-wrapper .select-nav a:hover, .select-wrapper .select-nav a:focus { color: #009FF9; border-right: 2px solid #FFF; }

@media screen and (max-width: 768px) { .select-wrapper .select-nav a { border-bottom: 2px solid transparent; border-right: 0px; padding-right: 0; padding-bottom: 10px; width: 100%; text-align: center; }
  .select-wrapper .select-nav a:hover, .select-wrapper .select-nav a:focus { border-right: 0px; border-bottom: 2px solid #FFF; } }

.carosel-header .swiper-container { padding-bottom: 30px; }

.carosel-header .swiper-slide h1 { float: left; color: #fff; text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7); padding-top: 14px; }

.carosel-header .swiper-container-horizontal .swiper-pagination { bottom: 10px; }

.carosel-header .swiper-pagination-bullet { height: 10px; width: 10px; opacity: 1; border: 1px solid #fff; background-color: transparent; }

.carosel-header .swiper-pagination-bullet.swiper-pagination-bullet-active { height: 12px; width: 12px; position: relative; top: 1px; background-color: #fff; }

/*  COTAÇÃO EM TEMPO REAL ========================================================================== */
.currency-title { font-weight: 600; font-size: 13.93px; }

.currency-exchange { text-align: center; }

.currency-exchange p { margin: 0; font-size: 18px; text-align: center; }

.currency-tittle-abrev { font-weight: 600; font-size: 15px; }

.address address { font-style: normal; font-size: 20px; font-weight: 100; margin-bottom: 20px; margin-top: 10px; }

.address address b { color: #0072b8; font-weight: 600; }

.address .bottom-shadow { max-width: 345px; margin: 0 auto; }

@media screen and (min-width: 1201px) { .address .bottom-shadow { max-width: 390px; } }

.pure-form .btn { margin: 30px 0; padding-left: 50px; font-size: 28px; padding-right: 50px; }

.office { margin-bottom: 50px; margin-top: 30px; }

.office img { margin-bottom: 30px; }

.numeros .hero { text-align: center; color: #1C2644; font-size: 64px; margin-bottom: 30px; }

.numeros h2 { text-align: center; font-size: 27px; color: #1C2644; }

.title-pergunta { color: #0072b8; font-size: 18px; margin-top: 0; margin-bottom: 0; font-weight: 600; }

.desc-pergunta { margin-top: 0; text-align: justify; }

.news-destaque { padding-left: 30px; padding-right: 30px; margin-bottom: 30px; }

.news-destaque .news-link-title { margin-top: 0; margin-bottom: 0; font-size: 20px; font-weight: 600; }

.news-destaque .news-link-title a { color: #1C2644; }

.news-destaque .news-link-title a:hover, .news-destaque .news-link-title a:focus { color: #4cb2ff; }

.news-destaque .news-image { float: left; margin-right: 30px; max-width: 50%; min-width: 50%; }

@media screen and (max-width: 768px) { .news-destaque .news-image { width: 100%; min-width: 100%; max-width: 100%; } }

.news-destaque .news-time { font-size: 12px; color: #999; margin-bottom: -15px; display: block; }
