{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}
{% load noticia_extras %}

<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=""/>
        <meta name="keywords" content="" />
        <meta name="robots" content="all"/>
        <meta name="google-site-verification" content="ztYtpc1aXuoeOLb2a5M7Vk4oksBLY6in4kZVmY4kgN8" />
        <link rel="author" href="www.beagleship.com.br" title="Beagle Ship" />

        <link rel="shortcut icon" type="image/x-icon" href="{% static "img/equalize.ico" %}" />

        <title>Equalize LTD - {% block title %}Home{% endblock title %}</title>

        {% block css %}
            <link rel="stylesheet" href="{%  static 'css/main.css' %}">
            <link rel="stylesheet" href="{%  static 'css/swiper.min.css' %}">
        {% endblock css %}
    </head>

    <body>
        <!-- Header:Start -->
        <header>
            <div class="top-transparent-bar">
                <div class="container">
                    <div class="row pos-r">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <a href="{% url 'home' %}">
                                <img class="logo-img" src="{% static 'img/logo-equalize.png' %}" alt="Equalize Internacional">
                            </a>
                        </div>

                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <div class="idiomas hidden-sm hidden-xs">
                            {% for language in languages %}
                                <a class="{% if language.code == 'en' %} uk {% elif  language.code == 'fr' %} franca {% else %} brasil {% endif %}" href="{% url 'set_language' language.code %}"></a>
                            {% endfor %}
                        </div>

                        <a id="mobile-open-menu" href="#" class="hidden-md hidden-lg">
                            <span class="mobile-open-menu-bar"></span>
                            <span class="mobile-open-menu-bar"></span>
                            <span class="mobile-open-menu-bar"></span>
                        </a>
                    </div>

                    <nav class="mobile-nav hidden-md hidden-lg">
                        <ul id="nav">
                            <li class="nav-li">
                                <a class="nav-li-a nav-li-a-apresentacao" href="javascript:void(0);">{% trans 'APRESENTAÇÃO' %}</a>
                                <ul class="nav-submenu">
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-introducao" href="{% url 'apresentacao:introducao' %}">{% trans 'INTRODUÇÃO' %}</a>
                                    </li>
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-implantacoes" href="{% url 'apresentacao:implantacoes' %}">{% trans 'IMPLANTAÇÕES'%}</a>
                                    </li>
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-numeros" href="{% url 'apresentacao:numeros' %}">{% trans 'NÚMEROS'%}</a>
                                    </li>

                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-suas-perguntas" href="{% url 'apresentacao:suas-perguntas' %}">{% trans 'SUAS PERGUNTAS'%}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-li">
                                <a class="nav-li-a nav-li-a-nossos-servicos" href="javascript:void(0);">{% trans 'NOSSOS SERVIÇOS'%}</a>
                                <ul class="nav-submenu list-unstyled">
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-consultoria" href="{% url 'servico:consultoria' %}">{% trans 'CONSULTORIA'%}</a>
                                    </li>
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-pesquisa-de-mercado" href="{% url 'servico:pesquisa' %}">{% trans 'PESQUISA DE MERCADO'%}</a>
                                    </li>
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-producao" href="{% url 'servico:producao' %}">{% trans 'PRODUÇÃO'%}</a>
                                    </li>
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-logistica" href="{% url 'servico:logistica' %}">{% trans 'LOGÍSTICA'%}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-li">
                                <a class="nav-li-a nav-li-a-produtos" href="javascript:void(0);">{% trans 'PRODUTOS' %}</a>
                                <ul class="nav-submenu list-unstyled">
                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-confeccao" href="{% url 'produto:consumer_goods' %}">{% trans 'BENS DE CONSUMO' %}</a>
                                    </li>

                                    <li>
                                        <a class="nav-submenu-li-a nav-submenu-li-a-eletronicos" href="{% url 'produto:foods_beverages' %}">{% trans 'ALIMENTOS & BEBIDAS' %}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-li"><a class="nav-li-a nav-li-a-obter-cotacao" href="{% url 'noticia:posts' %}" title="{% trans 'NOTÍCIAS' %}">{% trans 'NOTÍCIAS' %}</a></li>

                            <li class="nav-li"><a class="nav-li-a nav-li-a-obter-cotacao" href="{% url 'cotacao' %}" title="{% trans 'OBTER COTAÇÃO' %}">{% trans 'OBTER COTAÇÃO' %}</a></li>

                            <li class="nav-li"><a class="nav-li-a nav-li-a-contato" href="{% url 'contato' %}" title="{% trans 'CONTATO' %}">{% trans 'CONTATO' %}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <section class="home-header text-center-xs text-center-sm">
                {% block content %}
                    <div class="slideshow-bg">
                        <div class="slideshow-slide slideshow-1"></div>
                        <div class="slideshow-slide slideshow-2"></div>
                        <div class="slideshow-slide slideshow-3"></div>
                        <div class="slideshow-slide slideshow-4"></div>
                        <div class="slideshow-slide slideshow-5"></div>
                    </div>

                    <div class="header-title carosel-header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="container text-center-sm text-center-xs">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-9">
                                                <h1>{% trans 'BEM-VINDO À' %} EQUALIZE INTERNATIONAL GROUP</h1>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <a href="{% url 'apresentacao:introducao' %}" class="btn btn-big">{% trans 'Entrar' %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-9">
                                                <h1>{% trans 'SAIBA ONDE ESTAMOS LOCALIZADOS' %}</h1>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <a href="{% url 'apresentacao:implantacoes' %}" class="btn btn-big">{% trans 'Entrar' %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-9">
                                                <h1>{% trans 'DESCUBRA NOSSOS SERVIÇOS' %}</h1>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <a href="{% url 'servico:consultoria' %}" class="btn btn-big">{% trans 'Aqui' %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-9">
                                                <h1>{% trans 'TIRE SUAS DÚVIDAS' %}</h1>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <a href="{% url 'apresentacao:suas-perguntas' %}" class="btn btn-big">{% trans 'Aqui' %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                {% endblock content%}
            </section>

            <section class="nav-principal hidden-xs hidden-sm">
                <nav>
                    <div class="container">
                        <ul>
                            <li><a href="javascript:void(0);" title="{% trans 'APRESENTAÇÃO' %}">{% trans 'APRESENTAÇÃO' %}</a>
                                <div class="sub-menu">
                                    <ul class="container">
                                        <li><a href="{% url 'apresentacao:introducao' %}">{% trans 'Introdução' %}</a></li>
                                        <li><a href="{% url 'apresentacao:implantacoes' %}">{% trans 'Implantações' %}</a></li>
                                        <li><a href="{% url 'apresentacao:numeros' %}">{% trans 'Números' %}</a></li>
                                        <li><a href="{% url 'apresentacao:suas-perguntas' %}">{% trans 'Suas Perguntas' %}</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li><a href="javascript:void(0);" title="{% trans 'NOSSOS SERVIÇOS' %}">{% trans 'NOSSOS SERVIÇOS' %}</a>
                                <div class="sub-menu">
                                    <ul class="container">
                                        <li><a href="{% url 'servico:consultoria' %}">{% trans 'Consultoria' %}</a></li>
                                        <li><a href="{% url 'servico:pesquisa' %}">{% trans 'Pesquisas de Mercado' %}</a></li>
                                        <li><a href="{% url 'servico:producao' %}">{% trans 'Produção' %}</a></li>
                                        <li><a href="{% url 'servico:logistica' %}">{% trans 'Logística' %}</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li><a href="javascript:void(0);" title="{% trans 'PRODUTOS' %}">{% trans 'PRODUTOS' %}</a>
                                <div class="sub-menu">
                                    <ul class="container">
                                        <li><a href="{% url 'produto:consumer_goods' %}">{% trans 'Bens de consumo' %}</a></li>
                                        <li><a href="{% url 'produto:foods_beverages' %}">{% trans 'Alimentos & Bebidas' %}</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li><a href="{% url 'noticia:posts' %}" title="{% trans 'NOTÍCIAS' %}">{% trans 'NOTÍCIAS' %}</a></li>

                            <li><a href="{% url 'cotacao' %}" title="{% trans 'OBTER COTAÇÃO' %}">{% trans 'OBTER COTAÇÃO' %}</a></li>

                            <li><a href="{% url 'contato' %}" title="{% trans 'CONTATO' %}">{% trans 'CONTATO' %}</a></li>
                        </ul>
                    </div>
                 </nav>
            </section>
        </header>
        <!-- Header:End -->

        {% block container %}
            <section class="section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{% trans "NOSSOS SERVIÇOS" %}</h2>
                        </div>

                        <div class="animate-context" data-animation="transition.slideUpIn">
                          <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 bottom-shadow hidding">
                              <img src="{% static 'img/home/1.jpg' %}" alt='{% trans "CONSULTORIA" %}' class="img-responsive">
                              <a class="btn" href="{% url 'servico:consultoria' %}">{% trans 'CONSULTORIA' %}</a>
                          </div>

                          <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 bottom-shadow hidding">
                              <img src="{% static 'img/home/2.jpg' %}" alt='{% trans "PESQUISA DE MERCADO" %}' class="img-responsive">
                              <a class="btn" href="{% url 'servico:pesquisa' %}">{% trans 'PESQUISA DE MERCADO' %}</a>
                          </div>

                          <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 bottom-shadow hidding">
                              <img src="{% static 'img/home/3.jpg' %}" alt='{% trans "PRODUCAO" %}' class="img-responsive">
                              <a class="btn" href="{% url 'servico:producao' %}">{% trans 'PRODUÇÃO' %}</a>
                          </div>

                          <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 bottom-shadow hidding">
                              <img src="{% static 'img/home/4.jpg' %}" alt='{% trans "LOGÍSTICA" %}' class="img-responsive">
                              <a class="btn" href="{% url 'servico:logistica' %}">{% trans 'LOGÍSTICA' %}</a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{% trans 'PRODUTOS' %}</h2>
                        </div>

                        <div class="animate-context" data-animation="transition.slideUpIn">
                            <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-6 bottom-shadow hidding" >
                                {% with 'http://'|add:request.get_host|add:STATIC_URL|add:'img/home/consumer_goods.jpg' as image %}
                                    {% thumbnail image "500x334" crop="top" quality=100 as im %}
                                        <img src="{{ im.url }}" alt="{% trans 'BENS DE CONSUMO' %}" class="img-responsive">
                                    {% endthumbnail %}
                                {% endwith %}

                                <a class="btn" href="{% url 'produto:consumer_goods' %}">{% trans 'BENS DE CONSUMO' %}</a>
                            </div>

                            <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-6 bottom-shadow hidding" >
                                {% with 'http://'|add:request.get_host|add:STATIC_URL|add:'img/home/global_food_supply_sources.jpg' as image %}
                                    {% thumbnail image "500x334" crop="top" quality=100 as im %}
                                        <img src="{{ im.url }}" alt="{% trans 'BENS DE CONSUMO' %}" class="img-responsive">
                                    {% endthumbnail %}
                                {% endwith %}

                                <a class="btn" href="{% url 'produto:foods_beverages' %}">{% trans 'ALIMENTOS & BEBIDAS' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-pattern section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{% trans 'ÚLTIMAS NOTÍCIAS' %}</h2>
                        </div>

                        <div class="animate-context">
                            {% for item in posts %}
                            <!--Post's Start -->
                                <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-6 col-md-3 news hidding">
                                    <div class="news-wrapper">
                                        <!--IMAGEM-->
                                        <a class="news-link-img" href="{% url 'noticia:post' item.slug %}">
                                            {% if item.imagem or item.imagem_categoria %}
                                                {% if item.imagem %}
                                                    {% thumbnail item.imagem "345x241" crop="center" as im %}
                                                        <img class="img-responsive" src="{{ im.url }}" alt="{{item.titulo}}">
                                                    {% endthumbnail %}
                                                {%else%}
                                                    {% thumbnail item.imagem_categoria "345x241" crop="center"  as im %}
                                                        <img class="img-responsive" src="{{ im.url }}" alt="{{item.titulo}}">
                                                    {% endthumbnail %}
                                                {%endif%}
                                            {%endif%}
                                        </a>
                                        <!--TITULO-->
                                        <p class="news-link-title">
                                            <a href="{% url 'noticia:post' item.slug %}">{{ item.titulo }}</a>
                                        </p>

                                        <!--DATA NOTICIA-->
                                        <time datetime="2014-01-01">{{ item.data_publicacao }}</time>

                                        <!--PREV.TEXTO-->
                                        <p class="news-desc">{{ item.texto|safe|striptags|truncatechars:261 }}</p>
                                    </div>
                                </div>
                            <!--Post's End -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-content">

                <div class="container">
                    <div class="row animate-context" data-animation="transition.flipXIn" data-stagger="200">
                        <div class="col-xs-12 hidding">
                            <h2>{% trans 'COTAÇÃO EM TEMPO REAL' %}</h2>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6 currency-exchange hidding">
                            <span class="currency-title">U$ DOLLAR</span>
                            <span class="currency-tittle-abrev">U$</span>
                            <p>{{moedas.USD}}</p>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6 currency-exchange hidding">
                            <span class="currency-title">EURO</span>
                            <span class="currency-tittle-abrev">€</span>
                            <p>{{moedas.EUR}}</p>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6 currency-exchange hidding">
                            <span class="currency-title">BRAZILIAN REAL</span>
                            <span class="currency-tittle-abrev">R$</span>
                            <p>{{moedas.BRL}}</p>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6 currency-exchange hidding">
                            <span class="currency-title">BRITISH POUND</span>
                            <span class="currency-tittle-abrev">£</span>
                            <p>{{moedas.GBP}}</p>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6 currency-exchange hidding">
                            <span class="currency-title">INDIAN RUPEES</span>
                            <span class="currency-tittle-abrev">₹</span>
                            <p>{{moedas.INR}}</p>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6 currency-exchange hidding">
                            <span class="currency-title">RENMINBI</span>
                            <span class="currency-tittle-abrev">¥</span>
                            <p>{{moedas.CNY}}</p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock container %}

        <footer class="section-padding">
            <div class="container text-center-xs">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 hidding animate">
                        <h1><span class="text-light">{% trans 'SEU PEDIDO EM'%}</span>&nbsp;<span>{% trans 'DETALHES AQUI' %}</span></h1>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1 hidding animate"><a href="{% url 'cotacao' %}" class="btn btn-big btn-rounded">{% trans 'SOLICITE UM ORÇAMENTO' %}</a></div>
                </div>
            </div>
        </footer>

        <div class="copy">
            <div class="container text-center-xs text-center-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-6 hidding animate">
                        <small>© 2015 Equalize Internacional. {% trans "Todos os direitos reservados." %}</small>
                        <a href="http://" class=""></a>
                    </div>
                    <div class="col-xs-12 col-md-6 hidding animate">
                        <a class="beagleship-animated" href="http://www.beagleship.com.br" title="Powered by Beagle Ship Agency" target="_blank"><img src="{% static 'img/logo-beagleship.png' %}"/></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{% static 'js/vendors/swiper.jquery.min.js' %}"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
        <script src="{% static 'js/min/main.min.js' %}"></script>
        <script src="{% static 'js/min/home.min.js' %}"></script>
        <script src="{% static 'js/min/scroll-effects.min.js' %}"></script>


        {% block js %}
            <script src="{% static 'js/main.js' %}"></script>
            <script src="{% static 'js/min/main.min.js' %}"></script>
            <script src="{% static 'js/home.min.js' %}"></script>
            <script src="{% static 'js/min/home.min.js' %}"></script>
            <script src="{% static 'js/scroll-effects.min.js' %}"></script>
            <script src="{% static 'js/min/scroll-effects.min.js' %}"></script>
        {% endblock js %}

        {% block extrajs %}

        {% endblock extrajs %}
    </body>
</html>

