{% load staticfiles %}

{% load i18n %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all"/>
    <meta name="google-site-verification" content="ztYtpc1aXuoeOLb2a5M7Vk4oksBLY6in4kZVmY4kgN8" />
    <link rel="author" href="www.beagleship.com.br" title="Beagle Ship" />
    <title>Equalize - {% trans 'Selecionar idioma' %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/equalize.ico" %}" />
    <!-- Page styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body class="select-bg">
    <div class="select-bg-gradient"></div>
    <div class="select-wrapper">
      <img src="{% static 'img/select-language/logo-select-language.png' %}" alt="" class="select-logo">

        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <nav class="select-nav">
            {% for language in languages %}
                <a title="{% if language.code == 'en' %} ENGLISH {% elif  language.code == 'pt-br' %} PORTUGUÊS {% else %} FRANÇAIS {% endif %}" href="{% url 'set_language' language.code %}">
                    {% if language.code == 'en' %} ENGLISH {% elif  language.code == 'pt-br' %} PORTUGUÊS {% else %} FRANÇAIS {% endif %}
                </a>
            {% endfor %}
        </nav>

    </div>

    <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
    <script>
      window.onload = function() {
        var logo = document.querySelector('.select-logo');
        Velocity(logo,'transition.slideDownBigIn');
      }
    </script>

  </body>
</html>