* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
	 position: relative;
	 min-height: 100%;
   line-height: $base-line-height;
   font-size:  $base-font-size;
   font-family: $base-font-family;
}
a {
  transition: $base-link-transition;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 18px;
  text-align: justify;
}

.bg-pattern {
  background: url(../img/pattern-news.png) top left repeat;
}
.bg-cotacao {
  @include linear-gradient(to bottom, #bad5ea 0%, #1f6daf 31%, #0b437e 68%, #091f44 100%);
  
  p {
    color: #fff;
  }
  .pure-form {
    label {
      color: #fff;
    }
  }
}
.section-padding {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  @include max-screen($mobile) {
    padding-top: $section-padding-mobile;
    padding-bottom: $section-padding-mobile;
  }
  p {
    @include min-screen($large) {
      text-align: justify;
    }
  }
}
.section-margin {
  margin-top: 60px;
}

@include min-screen($medium) {
  .hidding {
    opacity: 0;
  }
}

.animate-context {
  @include clearfix;
}

.img-hero {
  min-width: 100%;
  margin-bottom: 30px;
}
.content-text {
  img {
    width: 100%!important;
    display: block;
    height: auto!important;
  }
}