@include font-face("Klavika", "fonts/klavika_ch_light-webfont", 100);
@include font-face("Klavika", "fonts/klavika_ch_regular-webfont", 400);
@include font-face("Klavika", "fonts/klavika_ch_medium-webfont", 600);
@include font-face("Klavika", "fonts/klavika_ch_bold-webfont", 700);
@include font-face("Gotham", "fonts/gotham-medium", 400);


h1 {
	font-size: $h1-font-size;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
}
h2 {
	font-size: $h2-font-size;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 400;
}

.text-light {
	font-weight: 100;
}

