/* 
   Font Families
   ========================================================================== */
$font-family-default: "Klavika", arial, sans-serif;
$font-family-gotham: "Gotham", arial, sans-serif;


/* 
   Base 
   ========================================================================== */
$base-line-height: 1.42857;
$base-font-family: $font-family-default;
$base-font-size: 16px;
$base-link-transition: all 400ms $easeOutQuad;
$base-border-radius: 4px;

$section-padding: 50px;
$section-padding-mobile: 25px;

/* 
   Media Queries
   ========================================================================== */

$mobile: 768px;
$medium: 992px;
$large: 1200px;


/* 
   Colors
   ========================================================================== */
$blue-dark: #1C2644;
$blue-medium: #4cb2ff;
$blue-med-dark: #0072b8;

$primary-color: $blue-dark;
$secondary-color: $blue-medium;
$thirdy-color: $blue-med-dark;

/* 
   Buttons
   ========================================================================== */

$btn-bg: $blue-dark;
$btn-hover-bg: $blue-med-dark;


/* 
   Header Slideshow
   ========================================================================== */
$header-bullet-size: 10px;
$header-bullet-border-color: #fff;
$header-bullet-bg-color: transparent;
$header-bullet-bg-color-active: #fff;



/* 
   Font-sizes
   ========================================================================== */

$h1-font-size: 38px;
$h2-font-size: 30px;

/* 
   Footer
   ========================================================================== */

$footer-bg: #394d6d;
$footer-copy-bg: #222222;
$footer-copy-color: #ccc;
$footer-copy-padding: 5px;
$footer-copy-font: $font-family-gotham;
$footer-copy-size: 11px;

/* 
   Forms
   ========================================================================== */

$form-border-radius: 0px;
$form-padding: .7em .7em;
$form-background-color: #f4f4f4;