{% load staticfiles %}
{% load compress %}
{% load i18n %}

<div style="color:#555">
    <p style="font-weight:bold;font-size:14px">{% trans 'Contact sent by site' %}</p>

    <p><span style="display:inline-block;width:100px">{%trans 'Nome da empresa'%}:</span> <span style="display:inline-block">{{ item.empresa.value }}</span></p>
   
    <p><span style="display:inline-block;width:100px">{%trans 'Nome do contato'%}:</span> <span style="display:inline-block">{{ item.contato.value }}</span></p>

    <p><span style="display:inline-block;width:100px">{% trans 'Email'%} :</span> <span style="display:inline-block">{{ item.email.value }}</span></p>
    
    <p><span style="display:inline-block;width:100px">{% trans 'Departamento'%}:</span> <span style="display:inline-block">{{ item.departamento.value }}</span></p>

    <p><span style="display:inline-block;width:100px;vertical-align:top">{% trans 'Mensagem'%}:</span> <span style="display:inline-block">{{ item.mensagem.value|linebreaksbr }}</span></p>
</div>
