{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}

{% block  title %}
   {% trans 'Têxtil' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-produtos"></div>
        <div class="header-title interna text-center-xs">
          <h1 class="container">
              <span class="text-light">
                  {% trans "Produtos" %}
              </span>
              <br>
                {% trans "têxtil" %}
          </h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class=" section-padding content-text">
        {% if texteis %}
            <div class="container">
                {% for textil in texteis %}
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{{ textil.titulo }}</h2>
                            <p class="hidding animate" data-animation="transition.slideUpIn">{{ textil.texto|safe|escape }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{% trans 'Em breve mais informações' %}</h2>
                    </div>
                </div>
            </div>
        {% endif%}

        <div class="container action-button hidding animate">
            <div class="col-xs-12"><a href="{% url 'produto:eletronico' %}" class="btn btn-small btn-rounded btn-block-mobile">{% trans 'Saiba Mais' %}</a></div>
        </div>

    </main>
{% endblock container %}