<div style="color:#555">
    <p style="font-weight:bold;font-size:14px">Contact sent by site</p>
     <p><span style="display:inline-block;width:100px">Name:</span> <span style="display:inline-block">{{ item.name.value }}</span></p>
   
    <p><span style="display:inline-block;width:100px">E-mail:</span> <span style="display:inline-block">{{ item.email.value }}</span></p>

    <p><span style="display:inline-block;width:100px">Telefone:</span> <span style="display:inline-block">{{ item.phone.value }}</span></p>
    
    <p><span style="display:inline-block;width:100px">Objetivo:</span> <span style="display:inline-block">{{ item.objective.value }}</span></p>

    <p><span style="display:inline-block;width:100px;vertical-align:top">Message:</span> <span style="display:inline-block">{{ item.message.value|linebreaksbr }}</span></p>
</div>
