{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}

{% block  title %}
   {% trans 'Implatações' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-implantacoes"></div>
        <div class="header-title interna text-center-xs">
            <h1 class="container"><span class="text-light">{% trans "Apresentação" %}</span><br>{% trans "implantações" %}</h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class=" section-padding">
        <div class="container content-text">
            {% for implentacao in implantacoes %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{{ implentacao.titulo }}</h2>
                        <p class="hidding animate" data-animation="transition.slideUpIn">{{ implentacao.texto|safe|escape}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container action-button hidding animate">
            <div class="col-xs-12"><a href="{% url 'apresentacao:numeros' %}" class="btn btn-small btn-rounded btn-block-mobile">{% trans 'Saiba Mais' %}</a></div>
        </div>
    </main>
{% endblock container %}
