{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}

{% block  title %}
   {% trans 'Números' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-numeros"></div>
        <div class="header-title interna text-center-xs">
            <h1 class="container"><span class="text-light">{% trans 'Apresentação' %}</span><br>{% trans 'números' %}</h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class=" section-padding numeros">

      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideDownIn">{% trans 'NÚMEROS' %}</h2>
            </div>
        </div>

        <div class="row animate-context content-text" data-stagger="300">
            {% for numero in numeros %}
                <div class="col-xs-12 col-sm-4 hidding">
                    <h1 class="hero">{{ numero.titulo|safe|escape}}</h1>
                    {{ numero.texto|safe|escape }}
                </div>
            {% endfor %}
        </div>

        <div class="container action-button hidding animate">
            <div class="col-xs-12"><a href="{% url 'apresentacao:suas-perguntas' %}" class="btn btn-small btn-rounded btn-block-mobile">{% trans 'Saiba Mais' %}</a></div>
        </div>
      </div>
    </main>
{% endblock container %}

