{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}

{% block  title %}
   {% trans 'Suas perguntas' %}
{% endblock title %}

{% block content %}
    <section class="home-header interna">
        <div class="bg-title bg-suas-perguntas"></div>
        <div class="header-title interna text-center-xs">
            <h1 class="container">
                <span class="text-light">{% trans 'Apresentação' %}</span>
                <br>{% trans 'SUAS PERGUNTAS' %}
            </h1>
        </div>
    </section>
{% endblock content %}

{% block container %}
    <main class="section-padding">

      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="title-bordered-bottom hidding animate" data-animation="transition.slideUpIn">{% trans 'Suas perguntas' %}</h2>
                <img src="{% static 'img/suas-perguntas/img-1.jpg' %}" class="img-responsive img-hero hidding animate" data-animation="transition.slideDownIn">
            </div>
        </div>

        <div class="row section-margin">

            {% for pergunta in perguntas %}

                <div class="col-sm-3 col-md-2 hidden-xs hidding animate">
                    {% if pergunta.imagem %}
                        {% thumbnail pergunta.imagem "200x115" crop="center" as im %}
                            <img class="img-responsive img-hero" src="{{ im.url }}">
                        {% endthumbnail %}
                    {%else%}
                        {% thumbnail pergunta.imagem_categoria "200x115" crop="center"  as im %}
                            <img class="img-responsive img-hero" src="{{ im.url }}">
                        {% endthumbnail %}
                    {%endif%}
                </div>

                <div class="col-xs-12 col-sm-9 col-md-10 hidding animate">
                    <p class="title-pergunta">{{ pergunta.titulo|safe|escape }}</p>
                    <p class="desc-pergunta">{{pergunta.texto|safe|escape}}</p>
                </div>
            {% endfor %}
        </div>

        <div class="container action-button hidding animate">
            <div class="col-xs-12"><a href="{% url 'apresentacao:introducao' %}" class="btn btn-small btn-rounded btn-block-mobile">{% trans 'Saiba Mais' %}</a></div>
        </div>
      </div>
    </main>
{% endblock container %}
