{% extends 'base.html' %}
{% load staticfiles %}

{% load noticia_extras %}
{% load i18n %}
{% load i18n %}
{% load thumbnail %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/internas.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contato.css' %}">

{% endblock css %}

{% block title %}- Contato {%endblock%}

{% block titulo %}<a href="{% url 'home' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="MZ Advocacia" title="MZ Advocacia"></a>{% endblock titulo %}

{% block content %}
	<section id="banner" class="banner" data-stellar-background-ratio="1.3">
		<h1 data-fade="200" class="fadeTo">Contato</h1>
	</section>

	<section id="contato">
		<section class="responlay clearfix">
			<h2 class="titulo hidding slideDownIn">fale conosco</h2>
			<p class="hidding slideDownIn">Para nos enviar dúvidas ou sugestões, utilize o formulário de contato abaixo:</p>

			<form class="valida" method="post" action="{% url 'cotacao:cotacao' %}">
			{% csrf_token %}
				<fieldset>

					{{ form.empresa }}
					{{ form.contato }}
					{{ form.email }}
					{{ form.departamento }}
                    {{ form.mensagem }}

					<button type="submit">Enviar Mensagem <span></span></button>
				</fieldset>
				{% if 'm' in request.GET %}
				<div class="retorno" style="display:block;"><i class="fa fa-check"></i> Enviado com sucesso</div>
				{% endif %}
			</form>
		</section>
		<div class="contato clearfix">
			<h2>Pelotas</h2>
			<div id="google-mapT"></div>
    		<form action="#" id="google-formT">
        		<fieldset>
                	<input type="text" id="google-addressT" placeholder="Digite um endereço para saber como chegar no escritório de Pelotas">
                	<button type="submit">Ver trajetos <span></span></button>
       			</fieldset>
    		</form>
		</div>

		<div class="contato clearfix">
			<h2>Rio Grande</h2>
			<div id="google-map"></div>
    		<form action="#" id="google-form">
        		<fieldset>
                	<input type="text" id="google-address" placeholder="Digite um endereço para saber como chegar no escritório de Rio Grande">
                	<button type="submit">Ver trajetos <span></span></button>
       			</fieldset>
    		</form>
		</div>

		<div class="contato clearfix">
			<h2>Porto Alegre</h2>
			<div id="google-mapPoa"></div>
    		<form action="#" id="google-formPoa">
        		<fieldset>
                	<input type="text" id="google-addressPoa" placeholder="Digite um endereço para saber como chegar no escritório de Porto Alegre">
                	<button type="submit">Ver trajetos <span></span></button>
       			</fieldset>
    		</form>
		</div>

		<div class="clearfix"></div>
	</section>

{% endblock content%}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/internas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contato.js' %}"></script>
{% endblock extrajs %}
