{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}

{% block  title %}
   {% trans 'Obter cotação' %}
{% endblock title %}

{% block container %}
    <main class="bg-cotacao section-padding">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title-bordered-bottom hidding animate">{% trans 'OBTER COTAÇÃO' %}</h2>
                    <img src="{% static 'img/cotacao/1.jpg' %}" alt="{% trans 'Cotação Online' %}" class="img-responsive img-hero hidding animate" data-animation="transition.slideUpIn">
                    <p class="hidding animate" data-animation="transition.slideUpIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptates sunt voluptas quisquam ex modi nisi, asperiores magni reiciendis tempore officiis consectetur dolores natus, eius eum, impedit, laudantium odit veritatis.</p>
                </div>
            </div>

            <div class="row hidding animate" data-animation="transition.slideUpIn">
                <form class="valida" method="post" action="{% url 'cotacao:cotacao' %}">
                    {% csrf_token %}
                    <fieldset>

                        {{ form.empresa }}
                        {{ form.contato }}
                        {{ form.email }}
                        {{ form.departamento }}
                        {{ form.mensagem }}

                        <button type="submit">{% trans 'Enviar Mensagem' %}<span></span></button>
                    </fieldset>
                    {% if 'm' in request.GET %}
                    <div class="retorno" style="display:block;"><i class="fa fa-check"></i>{% trans 'Enviado com sucesso' %}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock container %}