{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Esqueci minha senha{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/cadastros.css' %}">
{% endblock css %}


{% block container %}
<section class="header-interna pd-section">
        <div>
            <h1 class="title-bordered-top light">ESQUECI MINHA SENHA</h1>
        </div>
    </section>

    <section class="cadastro-profissionais">
   
        <div class="container">

<p>Por favor, informe o seu endereço de e-mail para receber as instruções para redefinir sua senha.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
        <div class="">

            <div class="input-group"><label class="sr-only">e-mail</label>
                
               <input id="id_email" maxlength="254" name="email" type="email" placeholder='informe seu e-mail'>
            </div>
        </div>
    <br >
    <div class="action-group">
        <button type="submit" class="btn-action btn btn-w260">REDEFINIR SENHA</button>
    </div>
</form>
</div>
</section>
{% endblock %}
