{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block css %}
    <link rel="stylesheet" href="{%  static 'css/contato.css' %}">
{% endblock css %}

{% block  title %}
   REDEFINIR SENHA
{% endblock title %}


{% block container %}

<section class="header-interna pd-section">
    <div>
        <h1 class="title-bordered-top light">REDEFINIR SENHA</h1>
    </div>
</section>

<section class="container pd-section">
    <div class="recupera-senha">
    {% if validlink %}
        <p>Preencha seu email abaixo para recuperar sua senha</p>

        <form action="" id="alterar-senha" class="form-default valida " method="post">
            {% csrf_token %}
            
            <div class="input-group">
                <label class="sr-only">Nova Senha</label>
                <input type="password" placeholder="Nova senha" name="new_password1" class="required">
                    {{ form.new_password1.errors }}
            </div>
            <div class="input-group">
                <label class="sr-only">Confirmar Nova Senha</label>
                <input type="password" placeholder="Confirmar Nova Senha" name="new_password2" class="required">
                    {{ form.new_password2.errors }}
            </div>

            <div class="action-group">
                <button type="submit" class="btn-action btn btn-w260">ALTERAR SENHA</button>
            </div>
        </form>

    {% else %}
        <h1>Redefinição de senha vencida</h1>
        <p>O link de redefinição de senha era inválida, <br />
 possivelmente porque já foi usado. <br />
 Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}

    </div>
</section>

{% endblock container %}

{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/contato.js' %}"></script>
{% endblock js %}
