{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}
{% block title %}Password reset complete{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{%  static 'css/cadastro.css' %}">
{% endblock css %}
{% block container %}
<section class="header-interna pd-section">
    <div>
        <h1 class="title-bordered-top light">REDEFINIR SENHA</h1>
    </div>
</section>

<section class="container pd-section">
    <div class="recupera-senha">
        <p>Sua senha foi redefinida com sucesso, faça o login agora.</p>
        <p><a href="{% url 'login' %}">Login</a></p>
    </div>
</section>
{% endblock %}