{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Senha resetada com sucesso{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/cadastros.css' %}">
{% endblock css %}

{% block container %}
<section class="header-interna pd-section">
        <div>
            <h1 class="title-bordered-top light">ESQUECI MINHA SENHA</h1>
        </div>
    </section>

    <section class="cadastro-profissionais">
   
        <div class="container">

            <h2 class="title text-success">Senha resetada com sucesso</h2>

            <p>Enviamos instruções para seu endereço de e-mail para resetar sua senha.</p>
            <p>Você deve estar recebendo em breve.</p>
        </div>
    </section>

{% endblock %}